<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDxVlyk9XIT3qUdeRWrhAF9PNRKXbpsMnU"></script>
        <script>
            var map;
            var infowindow;
            var test = undefined;

            function initialize() {
                if ({{{error}}} == 1){
                    alert('Artist not found');
                }else if ({{{error}}} == 2){
                    alert('Concert not found');
                }else if({{{error}}} == 0){
                    test = ({{{json events}}} || undefined);
                }
                console.log({{{error}}});
                var center = new google.maps.LatLng(test.event0.lat, test.event0.lng);
                map = new google.maps.Map(document.getElementById('map'), {
                    center: center,
                    zoom: 4
                });

                var request = {
                    location: center,
                    radius: 8047,
                    types: ['walmart']
                };
                infowindow = new google.maps.InfoWindow();

                var service = new google.maps.places.PlacesService(map);

                service.nearbySearch(request, callback);
            }

            function callback(results, status) {
                for (var key in test){
                    createMarker(test[key].lat, test[key].lng, test[key].name);
                }
            }

            function createMarker(lat,lng, name) {
                var placeLoc = new google.maps.LatLng(lat, lng);
                var marker = new google.maps.Marker({
                    map: map,
                    position: placeLoc
                });

                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent(name);
                    infowindow.open(map, this);
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);

        </script>

        <title>{{title}}</title>
        <link href="map.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="userLoginHeader">
            <a href="/mainpage" ><img id="logo" src="EventPlugLogo.png" /></a>
        </div>
        <div id="searchContainter">
            <form id="search" method="post" action="/venues" autocomplete="off">
                <input type="text" id="artist" name="artist" placeholder="Enter artist name here">
                <input type="submit" id="lookfor" value="Search">
            </form>
        </div>
        <div id="map">
        </div>
        
        {{> footer}}
    </body>
</html>