<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="mytracksStyle.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">
    </head>
    
    
    <body>
        <div>Hi {{name}}</div>
        <div id="userLoginHeader">
            <img id="logo" src="EventPlugLogo.png" />
        </div>
        <form id="search" action="/mainpage" method="post">
            <input type="text" name="track" id="trackSearch" placeholder="Please enter a song">
            <input id="searchButton" type="submit" value="Search">
        </form>
        
        <form action="/" method="get">
            <input id="logoutButton" type="submit" value="Log out">
        </form>
        
        <form id="playlistForm" action="/playlist" method="get">
            <input id="playlistButton" type="submit" value="Show my playlist">
        </form>
        
        <div id="songList">
            {{#each playlist}}
                <form class="songForm" action="/tracks" method="post">
                    <h2 class="songTitle">
                        {{songTitle}}
                    </h2>
                    <h3 class="artist">
                        {{artist}}
                    </h3>
                    <img src="{{image}}" class="image">
                    <input class="addtoPlaylist" type="submit" value="Add to playlist"/>
                    <input type="hidden" name="songName" value="{{songTitle}}">
                    <input type="hidden" name="artistName" value="{{artist}}">
                    <input type="hidden" name="image" value="{{image}}">
                </form>
            {{/each}}
        </div>
        
        {{> footer}}
        
        <script>
            
        </script>
        
    </body>
</html>