<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="mytracksStyle.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    
    
    <body>
        <div id="greet">Hi {{name}}</div>


        <img id="logo" src="EventPlugLogo.png" />

        <form id="search" action="/mytracks" method="post">
            <input type="text" name="track" id="trackSearch" placeholder="Please enter a song">
            <input id="searchButton" type="submit" value="Search">
        </form>
        
        <div id="menu">
            <button id="menuHeader">MENU</button>
            <a href="/playlist"><button id="playlistForm" class="options">PLAYLIST</button></a>
            <a href="/venues"><button id="venuesForm" class="options">CONCERTS</button></a>
            <a href="/lyrics"><button id="lyricsForm" class="options">LYRICS</button></a>
            <a href="/"><button id="logoutForm" class="options">LOGOUT</button></a>
        </div>
        
        <div id="fake"></div>
        
        <div id="songList">
            <h2 id="error">{{Error}}</h2>
            {{#each playlist}}
                <form class="songForm" action="/tracks" method="post">
                    <h2 class="songTitle">
                        {{songTitle}}
                    </h2>
                    <h3 class="artist">
                        {{artist}}
                    </h3>
                    <img src="{{image}}" class="image">
                    <input id="addtoPlaylist" class="buttons" type="submit" value="Add to playlist"/>
                    <input type="hidden" name="songName" value="{{songTitle}}">
                    <input type="hidden" name="artistName" value="{{artist}}">
                    <input type="hidden" name="image" value="{{image}}">
                </form>
            {{/each}}
        </div>
        
        {{> footer}}
        
        <script>
            
            
            var andArr = ["menuHeader", "playlistForm", "venuesForm", "lyricsForm", "logoutForm"]
            for (var i = 0; i < andArr.length; i++){
                document.getElementById(andArr[i]).addEventListener("mouseover", function() {
                    document.getElementById("playlistForm").style.top = "60px";
                    document.getElementById("venuesForm").style.top = "110px";
                    document.getElementById("lyricsForm").style.top = "160px";
                    document.getElementById("logoutForm").style.top = "210px";
                });
            }
            
            var anArr = ["fake", "search", "logo", "greet", "footer","songList"]
            for (var i = 0; i < anArr.length; i++){
                document.getElementById(anArr[i]).addEventListener("mouseover", function() {
                    document.getElementById("playlistForm").style.top = "0px";
                    document.getElementById("venuesForm").style.top = "0px";
                    document.getElementById("lyricsForm").style.top = "0px";
                    document.getElementById("logoutForm").style.top = "0px";
                });
            };
 
        </script>
        
    </body>
</html>