<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="playlistStyle.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">

    </head>
    
    
    <body>
        

        <a href="/mainpage" ><img id="logo" src="EventPlugLogo.PNG" /></a>

        <div id="songList">
            <h2 id="error">{{Error}}</h2>
            {{#each playlist}}
                <div class="songForm">
                    <h2 class="songTitle">
                        {{song}}
                    </h2>
                    <h3 class="artist">
                        {{artist}}
                    </h3>
                    <img src="{{image}}" class="image">
                </div>
            {{/each}}
        </div>
        
        {{> footer}}

    </body>
</html>